#config
.env
.vscode
*.yaml

#installation outputs
node_modules/
venv/
clocOutput
githubURLS.txt

#build
src/*.js
test/deprecated_tests/*.js

#python
__pycache__

#test
.nyc_output
mochawesome-report
test/*.js

#coverage
.coverage
coverage.json
nycCoverage


#log
logFile.txt

#dev
testbash